site_name: RL GridWorld Documentation
theme:
  name: material
  features:
    - content.code.copy
    - navigation.sections
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# Навигация (Меню слева)
nav:
  - Главная: index.md
  - API Reference:
      - Среды: envs.md
      - Агенты: agents.md

# Плагины
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true

# Расширения Markdown
markdown_extensions:
  # Подсветка кода
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  
  # Диаграммы Mermaid
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  # Математика
  - pymdownx.arithmatex:
      generic: true

  # Вкладки, детали, уведомления
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - admonition

# Скрипты для математики
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js